/*:root{*/
/*--bs-blue: #0d6efd;*/
/*--bs-indigo: #6610f2;*/
/*--bs-purple: #6f42c1;*/
/*--bs-pink: #d63384;*/
/*--bs-red: #dc3545;*/
/*--bs-orange: #fd7e14;*/
/*--bs-yellow: #ffc107;*/
/*--bs-green: #198754;*/
/*--bs-teal: #20c997;*/
/*--bs-cyan: #0dcaf0;*/
/*--bs-white: #fff;*/
/*--bs-gray: #6c757d;*/
/*--bs-gray-dark: #343a40;*/
/*--bs-primary: #0d6efd;*/
/*--bs-secondary: #6c757d;*/
/*--bs-success: #198754;*/
/*--bs-info: #0dcaf0;*/
/*--bs-warning: #ffc107;*/
/*--bs-danger: #dc3545;*/
/*--bs-light: #f8f9fa;*/
/*--bs-dark: #212529;*/
/*--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
/*--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
/*--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));*/
/*font-family: var(--bs-font-sans-serif);*/
/*font-size: 1rem;*/
/*font-weight: 400;*/
/*line-height: 1.5;*/
/*color: #212529;*/
/*-webkit-text-size-adjust: 100%;*/
/*-webkit-tap-highlight-color: transparent;*/
/*box-sizing: border-box;*/
/*position: relative;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*padding: .75rem 0;*/
/*background-color: #7952b3;*/
/*}*/

/*.flex-column {*/
/*    flex-direction: column!important;*/
/*}*/

/*.min-vh-100 {*/
/*    min-height: 100vh!important;*/
/*}*/

/*.d-flex {*/
/*    display: flex!important;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*    font-family: var(--bs-font-sans-serif);*/
/*    font-size: 1rem;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: #212529;*/
/*    background-color: #fff;*/
/*    -webkit-text-size-adjust: 100%;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*}*/
/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/
/*!*user agent stylesheet*!*/
/*body {*/
/*    display: block;*/
/*    margin: 8px;*/
/*}*/
/*:root {*/
/*    --bs-blue: #0d6efd;*/
/*    --bs-indigo: #6610f2;*/
/*    --bs-purple: #6f42c1;*/
/*    --bs-pink: #d63384;*/
/*    --bs-red: #dc3545;*/
/*    --bs-orange: #fd7e14;*/
/*    --bs-yellow: #ffc107;*/
/*    --bs-green: #198754;*/
/*    --bs-teal: #20c997;*/
/*    --bs-cyan: #0dcaf0;*/
/*    --bs-white: #fff;*/
/*    --bs-gray: #6c757d;*/
/*    --bs-gray-dark: #343a40;*/
/*    --bs-primary: #0d6efd;*/
/*    --bs-secondary: #6c757d;*/
/*    --bs-success: #198754;*/
/*    --bs-info: #0dcaf0;*/
/*    --bs-warning: #ffc107;*/
/*    --bs-danger: #dc3545;*/
/*    --bs-light: #f8f9fa;*/
/*    --bs-dark: #212529;*/
/*    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
/*    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
/*    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));*/
/*}*/
/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/
/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/

.me-2{
    margin-right: .5rem!important;
}

.btn-search-style{
    margin-left: 10px;
    margin-right: 30px;
}

.link{
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    color: #6495ed;
}
