.me-2{
    margin-right: .5rem!important;
}

.btn-search-style{
    margin-left: 10px;
    margin-right: 30px;
}

.link{
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    color: #6495ed;
}

.img {
    width: 100%;
    height: 200px;

}

.param{
    width: 400px;
    height: 450px;
}

.detButton{
    vertical-align: bottom;
}

.secNav{
    padding-top: 80px;
}

.form-control{
    height: 58px;
}

.btn:disabled{
    /*border-color: purple;*/
    /*color: purple;*/
    background: gainsboro;
}

.pad{
    padding-top: 30px;
}
