.alert{
    margin-top: 85px;
}

.pad{
    margin-top: 30px;
}

.caps{
    text-transform: uppercase;
}

.profile{
    margin-left: 200px;
}

.passp{
    margin-left: 200px;
}

.img {
    width: 100%;
    height: 200px;

}

.param{
    width: 400px;
    height: 450px;

}

.detButton{
    vertical-align: bottom;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid grey;
}
