/*.lav {*/
/*    max-width: 95%;*/
/*}*/

.alert-info{
    padding-top: 85px;
}

.param{
    width: 400px;
    height: 500px;
}

.detparam{
    width: 250px;
    height: 100px;
}

/*.pad{*/
/*    padding-top: 30px;*/
/*}*/

/*.caps{*/
/*    text-transform: uppercase;*/
/*}*/

/*.profile{*/
/*    margin-left: 200px;*/
/*}*/

/*.passp{*/
/*    margin-left: 200px;*/
/*}*/

.img {
    width: 100%;
    height: 200px;

}

/*.param{*/
/*    width: 400px;*/
/*    height: 450px;*/

/*}*/

/*.detButton{*/
/*    vertical-align: bottom;*/
/*}*/
