.img {
    width: 100%;
    height: 200px;
}

.top-container {
    margin: 0 auto;
}

.side-menu {
    max-width: 200px;
    padding-left: 0;
}

.param{
    height: 450px;
}

.detButton{
    vertical-align: bottom;
}

.secNav{
    padding-top: 80px;
}

.form-control{
    height: 58px;
}



