<?xml version="1.0" encoding="UTF-8" ?>
<Context>
    <Resource name="jdbc/myPool"
              auth="Container"
              type="javax.sql.DataSource"
              username="root"
              password="Lera"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/travel_agency?autoReconnect=true"
              validationQuery="select 1"
              maxActive="10"
              maxIdle="4"/>
</Context>